* {
  font-family: 'Roboto Slab', serif;
}
.h1 {
  font-size: 44px;
  font-weight: 700;
}
.h2 {
  font-size: 30px;
}
.h3 {
  font-size: 25px;
}
span {
  font-family: 'Roboto Slab', serif;
}
span.company-orange {
  color: hsl(26, 100%, 55%);
  font-size: 20px;
  font-weight: 600;
}
p.description {
  font-size: 15px;
  color: hsl(219, 9%, 45%);
  font-weight: 400;
  line-height: 24px;
}
p.price {
  color: hsl(220, 13%, 13%);
  font-size: 25px;
  font-weight: 600;
}
.para {
  font-family: 'Roboto Slab', serif;
}
.para-medium {
  font-size: 16px;
}
a {
  color: hsl(0, 0%, 0%);
  font-family: 'Roboto Slab', serif;
  font-weight: 500;
  text-decoration: none;
}
ul {
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
  list-style: none;
  text-transform: capitalize;
  margin: 0;
  padding: 0;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.sn-container {
  padding: 0 10%;
}
@media screen and (max-width: 768px) {
  .sn-container {
    padding: 0 5%;
  }
}
