.section-img-scroll-text{
  margin-top: 5%;
  background-position: center center!important;
  background-size: cover!important;
  background-repeat: no-repeat!important;
  display: flex;
  height: 700px;
  position: relative;
  overflow: hidden;
  .title-section{
    display: flex;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
    width: 320px;
  }
  .container-img-brands{
    align-items: center;
    display: flex;
    position: absolute;
    top: 36%;
    right: 40%;
    width: 100%;
    .brand-img{
      margin-right: 120px;
    }
  }
}