section.map-section {
  height: fit-content;
  margin-top: 5%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
}
section.map-section #map {
  border-bottom-left-radius: 150px;
  border-top-right-radius: 150px;
  height: 400px;
}
section.map-section #map .leaflet-control a svg {
  display: none;
}
section.map-section #map .pin-text {
  font-size: 13px;
  font-weight: 500;
}
section.map-section .info-contact ul li {
  padding-left: 30px;
}
