<section class="sn-container section-counters">
  <div class="info-wrapper">
    <h2 class="h2 f-white">Lorem Ipsum is <span class="f-orange"> simply dummy </span> text of the printing and typesetting industry. </h2>
    <p class="description f-dark-grayish-blue">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
    <div class="quantities">
      <div class="sells f-white">
        <p class="h3">10k+</p>
        <p class="f-dark-grayish-blue">Ventas</p>
      </div>
      <div class="companies f-white">
        <p class="h3">234</p>
        <p class="f-dark-grayish-blue">Companies</p>
      </div>
      <div class="countries f-white">
        <p class="h3">40+</p>
        <p class="f-dark-grayish-blue">Countries</p>
      </div>
    </div>
  </div>
  <div class="img-wrapper">
    <img class="img-company" src="{{ asset( 'images/network.jpg' ) }}" alt="">
    <div class="overlay"></div>
  </div>
</section>