{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}

  {% set vars = {'var_session': session_started } %}
  {% include 'menu/index.html.twig' with vars %}
  
  <section class="sn-container section-login">
    <div class="login-register-container">

      {% if session_started %}
        Sesión iniciada correctamente <a href="logout">Cerrar sesion</a>
      {% endif %}

      {% if session_started == false %}
      <div class="login-container">
        <h2 class="h2-forms">Formulario login</h2>
        {{ form(login_form)}}
      </div>
      <div class="register-container">
        <h2 class="h2-forms">Formulario de registro</h2>
        {{ form(registration_form)}}
      </div>
      {% endif %}

    </div>
  </section>
  


{% endblock %}
