* {
  font-family: 'Roboto Slab', serif;
}
.h1 {
  font-size: 44px;
  font-weight: 700;
}
.h2 {
  font-size: 30px;
  font-weight: 700;
}
.h3 {
  font-size: 25px;
  font-weight: 700;
}
span {
  font-family: 'Roboto Slab', serif;
}
span.company-orange {
  color: hsl(26, 100%, 55%);
  font-size: 20px;
  font-weight: 600;
}
p.description {
  font-size: 15px;
  color: hsl(219, 9%, 45%);
  font-weight: 400;
  line-height: 24px;
}
p.price {
  color: hsl(220, 13%, 13%);
  font-size: 25px;
  font-weight: 600;
}
.para {
  font-family: 'Roboto Slab', serif;
}
.para-medium {
  font-size: 16px;
}
a {
  color: hsl(0, 0%, 0%);
  font-family: 'Roboto Slab', serif;
  font-weight: 500;
  text-decoration: none;
}
ul {
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
  list-style: none;
  text-transform: capitalize;
  margin: 0;
  padding: 0;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.sn-container {
  padding: 0 10%;
}
@media screen and (max-width: 768px) {
  .sn-container {
    padding: 0 5%;
  }
}
@keyframes rebote {
  20% {
    transform: scale(0.8);
  }
  40% {
    transform: scale(1.2);
  }
  60% {
    transform: scale(0.9);
  }
  80% {
    transform: scale(1.1);
  }
}
section.product-page {
  padding-top: 80px;
}
section.product-page .product-container {
  border-top: 1px solid hsl(220, 14%, 75%);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px;
}
section.product-page .product-container .img-container {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
section.product-page .product-container .img-container .main-single-img {
  border-radius: 15px;
  height: 450px;
  width: 450px;
}
section.product-page .product-container .img-container .swiper-single-product {
  margin-top: 25px;
  width: 450px;
}
section.product-page .product-container .img-container .swiper-single-product .wrapper-single-product .slide-single-product {
  box-sizing: border-box;
}
section.product-page .product-container .img-container .swiper-single-product .wrapper-single-product .slide-single-product .single-img {
  border: 2px solid hsl(26, 100%, 55%);
  border-radius: 10px;
  box-sizing: border-box;
  cursor: pointer;
  height: 100%;
  width: 100%;
}
section.product-page .product-container .description-container {
  margin-top: 50px;
  padding-top: 25px;
}
section.product-page .product-container .description-container form {
  display: flex;
}
section.product-page .product-container .description-container form .amount {
  display: contents;
  width: 50%;
}
section.product-page .product-container .description-container form .amount .minus,
section.product-page .product-container .description-container form .amount .sum {
  cursor: pointer;
  color: hsl(26, 100%, 55%);
  font-weight: 700;
  width: 50px;
}
section.product-page .product-container .description-container form .amount .minus,
section.product-page .product-container .description-container form .amount .quantity,
section.product-page .product-container .description-container form .amount .sum {
  background-color: hsl(223, 64%, 98%);
  border: unset;
  box-sizing: border-box;
  height: 50px;
}
section.product-page .product-container .description-container form .amount .quantity {
  text-align: center;
}
section.product-page .product-container .description-container form .amount .quantity:focus {
  outline: none;
}
section.product-page .product-container .description-container form .send-product {
  border-radius: 5px;
  margin-left: 25px;
  width: 50%;
}
section.product-page .product-container .description-container form .send-product .add-to-cart {
  background-color: hsl(26, 100%, 55%);
  box-sizing: border-box;
  border-radius: 10px;
  border: unset;
  color: hsl(0, 0%, 100%);
  cursor: pointer;
  font-weight: 600;
  height: 50px;
  width: 100%;
  transition: all 0.3s ease-in-out;
}
section.product-page .product-container .description-container form .send-product .add-to-cart:hover {
  opacity: 0.7;
}
@media screen and (min-width: 768px) and (max-width: 1100px) {
  section.product-page .product-container .img-container .main-single-img {
    height: 300px;
    width: 300px;
  }
  section.product-page .product-container .img-container .swiper-single-product {
    width: 300px;
  }
  section.product-page .product-container .description-container {
    padding-top: 0;
  }
}
@media (max-width: 767px) {
  section.product-page .product-container {
    grid-template-columns: repeat(1, 1fr);
  }
  section.product-page .product-container .img-container .main-single-img {
    height: auto;
    width: 100%;
  }
  section.product-page .product-container .img-container .swiper-single-product {
    width: 350px;
  }
  section.product-page .product-container .description-container {
    margin-top: 0;
    padding-top: 0;
  }
}
header.menu-section {
  background-color: hsl(0, 0%, 100%);
  box-sizing: border-box;
  height: 80px;
  position: fixed;
  width: 100%;
  z-index: 50;
  transition: all 0.3s ease-in-out;
}
header.menu-section.scroll {
  height: 60px;
}
header.menu-section .main-navigation {
  box-sizing: border-box;
  display: flex;
  height: inherit;
  justify-content: space-between;
}
header.menu-section .main-navigation .left-side-menu {
  display: flex;
  align-items: center;
  height: inherit;
}
header.menu-section .main-navigation .left-side-menu .menu-burger {
  display: none;
}
header.menu-section .main-navigation .left-side-menu .img-title {
  cursor: pointer;
  margin-right: 50px;
  height: 30px;
  width: auto;
}
header.menu-section .main-navigation .left-side-menu .menu-links {
  align-items: center;
  display: flex;
  cursor: pointer;
  height: inherit;
}
header.menu-section .main-navigation .left-side-menu .menu-links li {
  align-items: center;
  display: flex;
  margin-right: 30px;
  height: inherit;
  position: relative;
  transition: all 0.3s;
  text-transform: capitalize;
}
header.menu-section .main-navigation .left-side-menu .menu-links li .single-link {
  color: hsl(219, 9%, 45%);
}
header.menu-section .main-navigation .left-side-menu .menu-links li::before {
  content: '';
  display: block;
  position: absolute;
  height: 5px;
  background: hsl(26, 100%, 55%);
  bottom: 0;
  left: 0;
  width: 100%;
  transition: all 0.3s;
  transform: scaleX(0);
}
header.menu-section .main-navigation .left-side-menu .menu-links li:hover .single-link {
  color: hsl(0, 0%, 0%);
}
header.menu-section .main-navigation .left-side-menu .menu-links li:hover:before {
  transform: scaleX(1);
}
header.menu-section .main-navigation .right-side-menu {
  align-items: center;
  display: flex;
}
header.menu-section .main-navigation .right-side-menu .cart-link,
header.menu-section .main-navigation .right-side-menu .user-link {
  align-items: center;
  display: flex;
  cursor: pointer;
  margin-right: 30px;
  position: relative;
}
header.menu-section .main-navigation .right-side-menu .cart-link .icon-cart,
header.menu-section .main-navigation .right-side-menu .user-link .icon-cart,
header.menu-section .main-navigation .right-side-menu .cart-link .icon-user,
header.menu-section .main-navigation .right-side-menu .user-link .icon-user {
  background-repeat: no-repeat;
  display: block;
  filter: invert(0%) sepia(33%) saturate(2732%) brightness(22%) contrast(0%);
  transition: all 0.3s;
  height: 21px;
  width: 24px;
}
header.menu-section .main-navigation .right-side-menu .cart-link .icon-cart:hover,
header.menu-section .main-navigation .right-side-menu .user-link .icon-cart:hover,
header.menu-section .main-navigation .right-side-menu .cart-link .icon-user:hover,
header.menu-section .main-navigation .right-side-menu .user-link .icon-user:hover {
  filter: invert(0%) sepia(33%) saturate(2732%) brightness(22%) contrast(100%);
}
header.menu-section .main-navigation .right-side-menu .user-link {
  margin-right: 0;
}
header.menu-section .main-navigation .right-side-menu .cart-link .cart-content {
  background-color: hsl(0, 0%, 100%);
  box-shadow: -4px 24px 41px -12px rgba(0, 0, 0, 0.29);
  border-radius: 10px;
  cursor: auto;
  position: absolute;
  width: 350px;
  height: 180px;
  top: 36px;
  right: -55px;
  transition: all 0.3s;
  opacity: 0;
}
header.menu-section .main-navigation .right-side-menu .cart-link .cart-content.open {
  opacity: 1;
}
header.menu-section .main-navigation .right-side-menu .cart-link .cart-content .title-cart,
header.menu-section .main-navigation .right-side-menu .cart-link .cart-content .item-description {
  padding: 17px;
}
header.menu-section .main-navigation .right-side-menu .cart-link .cart-content .separador {
  background-color: hsl(220, 14%, 75%);
  height: 1px;
}
header.menu-section .main-navigation .right-side-menu .cart-link .quantity {
  align-items: center;
  background-color: hsl(26, 100%, 55%);
  border-radius: 50px;
  font-size: 8px;
  display: flex;
  justify-content: center;
  color: hsl(0, 0%, 100%);
  position: absolute;
  top: 0;
  right: -5px;
  height: 11px;
  width: 20px;
}
header.menu-section .menu-mobile {
  display: none;
  height: 0;
}
@media screen and (max-width: 768px) {
  header.menu-section {
    width: 100%;
  }
  header.menu-section .main-navigation .left-side-menu .menu-burger {
    display: flex;
    cursor: pointer;
    margin-right: 15px;
  }
  header.menu-section .main-navigation .left-side-menu .menu-links {
    display: none;
  }
  header.menu-section .main-navigation .left-side-menu .img-title {
    margin-right: 25px;
    height: 23px;
  }
  header.menu-section .menu-mobile {
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(5px);
    position: fixed;
    height: 100vh;
    top: 0;
    right: 0;
    width: 100vw;
  }
  header.menu-section .menu-mobile.open {
    display: flex;
  }
  header.menu-section .menu-mobile .content-menu-mobile {
    background-color: hsl(0, 0%, 100%);
    padding: 5%;
    width: 50%;
  }
  header.menu-section .menu-mobile .content-menu-mobile .close-icon {
    cursor: pointer;
    margin-bottom: 40px;
  }
  header.menu-section .menu-mobile .content-menu-mobile ul.links-mobile li {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 15px;
  }
}
.section-hero {
  height: calc(100vh - 80px);
  padding-top: 80px;
}
.section-hero .swiper-hero {
  height: inherit;
  position: relative;
  width: 100%;
}
.section-hero .swiper-hero .wrapper-hero {
  width: 80vw;
}
.section-hero .swiper-hero .wrapper-hero .slide-hero {
  transform: translateX(12.5%);
}
.section-hero .swiper-hero .wrapper-hero .slide-hero .slider-img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.section-hero .swiper-hero .arrow-container {
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(5px);
  bottom: 0;
  left: 0;
  position: absolute;
  height: 60px;
  width: 100%;
  z-index: 10;
}
.section-hero .swiper-hero .arrow-container a.anchor {
  align-items: center;
  cursor: pointer;
  display: flex;
  position: absolute;
  left: calc(50% - 22px);
  top: 0;
  height: 100%;
}
.section-hero .swiper-hero .arrow-container a.anchor .img-go-down {
  height: 44px;
}
.section-hero .swiper-hero .arrow-container a.anchor:hover {
  animation: 1s rebote 1;
}
.section-hero .swiper-hero .arrow-container .swiper-button-prev .img-next,
.section-hero .swiper-hero .arrow-container .swiper-button-next .img-next,
.section-hero .swiper-hero .arrow-container .swiper-button-prev .img-prev,
.section-hero .swiper-hero .arrow-container .swiper-button-next .img-prev {
  filter: invert(100%);
}
.section-hero .swiper-hero .arrow-container .swiper-button-prev::after,
.section-hero .swiper-hero .arrow-container .swiper-button-next::after {
  content: '';
}
.contenido-extra {
  background-color: gray;
  height: 3000px;
}
