section.panel-user-container{
  padding-top: 80px;
  .panel-user-wrapper{
    border-top: 1px solid @grayish-blue;
    display: grid;
    grid-template-columns: repeat( 3, 1fr );
    grid-gap: 30px;
    padding-top: 10%;
    .menu-user-container, .content-panel-user{
      border: 2px solid @orange;
      border-radius: 10px;
      box-sizing: border-box;
      height: fit-content;
      padding: 20px;
    }
    .menu-user-container{
      grid-column-start: 1;
      grid-column-end: 1;
      a.link-panel-user{
        display: block;
        margin: 20px 0;
      }
    }
    .content-panel-user{
      grid-column-start: 2;
      grid-column-end: 4;
      .info-user-content{
        form{
          border: unset;
          margin: 0;
          padding: 0;
          .form-group{
            .btn-form{
              font-size: 16px;
            }
            &:last-of-type{
              margin: 0;
            }
          }
        }
      }
      .orders-info{
      }
      .info-user-content, .orders-info{
        display: none;
        &.active{
          display: block;
        }
      }
    }
  }
  @media ( max-width: 768px ) {
    .panel-user-wrapper{
      padding-top: 5%;
      grid-template-columns: repeat( 1, 1fr );
      .menu-user-container{
        grid-column-start: 1;
        grid-column-end: 1;
      }
      .content-panel-user{
        grid-column-start: 1;
        grid-column-end: 1;
      }
    }   
  }
}