section.reserva-container {
  padding-top: 80px;
}
section.reserva-container .content-section {
  border-top: 1px solid black;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
section.reserva-container .content-section .form-container form {
  margin-top: 0;
}
